
.c-burger {

	position: relative;
	z-index: 10;

	display: none;
	float: right;
	margin-top: 10px;

	text-transform: uppercase;
	@include font-size(13);

	@include transition(all 0.5s $easeInOut);

	@include mq($desk-sml) {
		display: inline-block;
	}

	&:before,
	&__line {

		position: relative;

		display: block;
		width: 40px;
		height: 3px;
		margin: 2px 0;

		background: $primaryColor;

		content: "";
		@include transition(all 0.2s);

		.is-active & {
			
			background: $white;

		}

	}

	&.is-active {
		
		&:before {
			opacity: 0;
		}

	}

	&__line--1 {

		.is-active & {

			@include transform(rotate(45deg));

		}

	}

	&__line--2 {

		.is-active & {

			top: -5px;
			
			@include transform(rotate(-45deg));

		}
	}

	&.is-active {
		color: $white;
	}

}