.background {
	&--container {
		position: relative;
		width: 100%;
		min-height: 900px;
		min-height: 90vh;
		background-size: cover;
		background-position: center;
	    @include mq($tab) {
			min-height: auto;
        }
	}
}
