
.c-testimonials {

	margin-top: 40px;
	@include mq($desk) {
		margin: 0 0 20px 0;
	}

	&--copy-bold {
		@include font-size($beta-size);
		font-weight: 700;
		line-height: 34px;
		margin: 0;
		letter-spacing: 2px;
		font-family: $secondaryFont;
		@include mq($desk) {
			@include font-size($delta-size);
		}
		@include mq($mob) {
			padding-bottom: 10px;
			@include font-size($epsilon-size);
		}
	}

	&--name {
		@include font-size($zeta-size);
		font-weight: 700;
		line-height: 20px;
		margin-bottom: 10px;
		letter-spacing: 1px;
		font-family:$secondaryFont;
		color: $secondaryColor;
		text-transform: uppercase;
		&__alt {
			color: $primaryColor;
		}
	}

	&--position {
		@include font-size($zeta-size);
		@include mq($desk) {
			margin: auto;
		}
	}

	&--image {
		@include mq($desk) {
			text-align: center;
		}
	}

}



.carousel-cell {
	width: 100%;
	@include mq($desk) {
	    padding: 50px;
	}
	@include mq($tab) {
		padding: 20px;
	}
}

.flickity-prev-next-button {
	z-index: 5;
	width: 100px;
	height: 100px;
	background: transparent;
	@include mq($tab) {
		top: auto;
		bottom: 0;
		transform: translateY(0);
	}
	&:hover {
		background: transparent;
	}
	&:disabled {
		display: none;
	}

	&:focus {
		box-shadow: none;
	}

	svg {
		display: none;
	}

	&.next {
		right: -100px;
		@include mq($desk-x-lrg) {
			right: 0;
		}

		@include mq($desk-lrg) {
			bottom: -100px;
		}
		&:after {
			position: absolute;
			left: 0;

			bottom: 0;

			content: '\68';
			@include fonticon;

			color: $tertiaryColor;
			font-size: 6em;
			@include mq($desk) {
				top: 50%;
				left: 0;
				font-size: 4em;
			    @include transform(translateY(-50%));
			}
		}
	}

	&.previous {
		left: -100px;

		@include mq($desk-x-lrg) {
			left: 0;
		}

		@include mq($desk-lrg) {
			bottom: -100px;
		}
		&:after {
			position: absolute;
			//right: 50px;
			right: 0;
			bottom: 0;

			content: '\67';
			@include fonticon;

			color: $tertiaryColor;
			font-size: 6em;
			@include mq($desk) {
				top: 50%;
			 	right: 0;
				font-size: 4em;
			    @include transform(translateY(-50%));
			}
		}
	}
}

.flickity-page-dots {
	bottom: autos;
	padding-top: 50px;
}

.flickity-page-dots .dot{
	background: $quinaryColor;
	& .dot.is-selected {
		background: $secondaryColor;
	}
}
