
	.l-nav {

		float: right;

		@include mq($tab-lrg) {

			position: fixed;
			top: 0;
			left: 0;

			width: 100%;
			height: 200vh;
			padding-top: 100px;

			background: rgba(46, 161, 107, 0.87);

			text-align: center;
			color: $primaryColor;

			opacity: 0;
			visibility: hidden;


			@include transition(all 0.5s $easeInOut);

			&.is-active {

				z-index: 5;
				opacity: 1;
				visibility: visible;

			}

		}

		&__wrap { padding: 0; }

		&__item {

			position: relative;
			display: inline-block;
			margin-left: 40px;
			padding-bottom: 10px;

			@include mq($desk-lrg) { margin-left: 30px; }

			@include mq($desk) { margin-left: 20px; }

			@include mq($tab-x-lrg) { margin-left: 10px; }

			@include mq($tab-lrg) {

				display: block;
				float: none;
				margin: 20px 0;

				text-align: center;
				color: $secondaryColor;
				font-weight: bold;
				text-transform: uppercase;

				@include transition(all 0.5s $easeInOut);

				&:nth-child(odd) { @include transform(translateX(-100%));}

				&:nth-child(even) { @include transform(translateX(100%)); }

				.is-active & { @include transform(translateX(0)); }

			}

		}

		&__link {

			text-transform: uppercase;

			font-size: 16px;
			line-height: 34px;
		}


		&__list--submenu {

			position: absolute;
			left: 50%;
			display: none;
			min-width: 200px;
			margin: 10px 0;
			padding: 20px;

			background-color: #f9f9f9;
			text-align: left;
			@include transform(translateX(-50%));
			@include mq($desk-sml) { position: relative; }

			&:after {
				position: absolute;
				top: -8px;
				left: 50%;
				@include transform(translateX(-50%));
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 0 9px 8px 9px;
				border-color: transparent transparent $secondaryColor transparent;
				content: " ";
			}

			.l-nav__item {

				margin-left: 10px;
				margin-left: 10px;
				width: 100%;
				margin: 1px 0;
				padding-bottom: 0;

			}
			.l-nav__link {

				font-family: $secondaryFont;
				color: $tertiaryColor;
				letter-spacing: 1.5px;
				a {
					    content: "";
    line-height: .5em;
    width: .5em;
    height: .5em;
    background-color: #2ea16b;
    float: left;
    margin: .5em .5em 0;
    border-radius: 50%;
				}

			}

		}

		&__item--has-children:hover  &__list--submenu{

			display: block;
			@include transition(all 0.5s $easeInOut);

		}

		.icon{ color: white; }

	}